.cards {
    text-align: center;

    .cards_text h1 {
        color: #222;
        font-size: 30px;
    }
    .cards_text p {
        color: #9F9F9F;
        font-size: 14px;
        padding: 0 10px;
    }
    

    .products__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        padding: 48px 0px;

        .prod__card {
            background-color: #F8F8F8;
            position: relative;

            .prod__card-row {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 16px;
                padding: 24px 16px;

                .products_h1 {
                    font-size: 13px;
                    font-weight: 400;
                }
                
                .products_p {
                    color: #5D5D5D;
                    font-size: 14px;
                    font-weight: 300;
                    text-align: left;
                }
                
                .cash_product {
                    color: #F16D7F;
                    font-size: 16px;
                    font-weight: 400;
                }
            }

            .info {
                position: absolute;
                left: 35%;
                bottom: 65%;
                overflow: hidden;
                border: 2px solid;
                width: 100px;
                height: 30px;
                align-items: center;
                display: inline-block;
                text-decoration: none;
                padding: 10px 10px 0 10px;
                color: rgb(109, 106, 106);
                font-size: 14px;
                font-weight: 700;
                opacity: 0;
            }

            &:hover .info {
                opacity: 1;
                
            }

            &-img:hover {
                opacity: 0.4;
            
            }

            .prod__card-img:hover button {
                position: absolute;
                display: block;
                z-index: 9999;
            }
        
        }
    
    }
}

.button_product {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    text-align: center;
}

.a__btn {
    border: solid;
    color: #FF6A6A;
    background-color: white;
    padding: 15px 39px;
}

.a__btn{
    display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  border:solid;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  color: #FF6A6A;
  background-color: white;
  padding: 15px 39px;
}

.a__btn span{
    position: relative;
    z-index: 2;
  }

.a__btn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#FF6A6A;
    transition: all .35s;
  }
  
.a__btn:hover{
    color: #fff;
  }
  
.a__btn:hover:after{
    width: 100%;
  }