.header {
    background-color: #222;

    &__top-row {
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 20px;

        .logo {
            display: flex;
            gap: 30px;
        }
    }

    &_menu {
        display: flex;
        gap: 30px;
        padding-top: 5px;
    }

}

.title {
    background-color: #F1E4E6;

    .header__but-row {
        display: flex;
        align-items: center;

        .img_men {
            position: relative;
            right: 20%;
        }

        .text_menu {
            display: flex;
            position: relative;
            right: 10%;
            display: flex;
            .h1_menu {
                padding-left: 10px;
            }

            .span1 {
                font-size: 48px;
                font-weight: 900;
            }

            .span2 {
                font-size: 32px;
                font-weight: 700;
                color: #F16D7F;
            }
        }
}
}

