.header {
  background-color: #222;
  overflow: hidden;

  &__top-row {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 20px;

    .logo {
      display: flex;
      gap: 30px;

      &-search {
        margin-top: 8px;
      }
    }
  }

  &_menu {
    display: flex;
    gap: 30px;
    padding-top: 7px;
    align-items: center;
  }
}

.title {
  background-color: #f1e4e6;

  .header__but-row {
    display: flex;
    align-items: center;

    .img_men {
      position: relative;
      right: 20%;
    }

    .text_menu {
      display: flex;
      position: relative;
      right: 10%;
      display: flex;
      .h1_menu {
        padding-left: 10px;
      }

      .span1 {
        font-size: 48px;
        font-weight: 900;
      }

      .span2 {
        font-size: 32px;
        font-weight: 700;
        color: #f16d7f;
      }
    }
  }
}
.header_menu-img:hover {
  transform: scale(1.1);
}
