@mixin style {
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@mixin style2($size, $weight) {
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: normal;
}

$colorSelectSite: #f8f3f4;
$colorText: #f16d7f;
$widthSite: 1140px;
$backBlock: #222;
$colorLink: #6f6e6e;

.top-head {
  background: $colorSelectSite;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__heading {
    color: $colorText;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }
  .breadcrumbs__link:hover {
    color: $colorText;
    border-left-width: 3px;
  }
  .breadcrumbs__link {
    text-transform: uppercase;
    color: $colorLink;
    font-size: 14px;
    border-left: 0 solid $colorText;
    transition: 0.2s;
    @include style();

    &-big {
      color: $colorText;
      @include style2(14px, 700);
    }
  }
}
.center {
  padding-left: calc(50% - $widthSite / 2);
  padding-right: calc(50% - $widthSite / 2);
}

.product__img {
  position: relative;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 42px;

  & img {
    width: auto;
  }
}

.product__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 600px;

  &-big {
    border: 1px solid #ece9e9;
    position: absolute;
    left: 10%;
    right: 10%;
    top: -65px;
    z-index: 8;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0 64px;

    & h2 {
      color: $colorText;

      font-size: 14px;
      @include style();
      margin-bottom: 15px;
    }

    & h1 {
      color: #4d4d4d;
      font-size: 18px;
      @include style();
      margin-bottom: 48px;
    }

    & p {
      width: 565px;
      color: #5e5e5e;
      text-align: center;
      font-size: 14px;
      @include style();
      margin-bottom: 32px;
    }

    .price__card {
      font-size: 24px;
    }
  }
}

.create__line {
  width: 63px;
  border-top: 2px solid $colorText;
  margin-bottom: 12px;
}

.create__line-second {
  width: 641px;
  border-top: 2px solid #eaeaea;
  margin: 65px 0;
}

.product__card-link {
  display: flex;
  gap: 20px;
  @include style2(14px, 400);
  margin-bottom: 48px;

  & a {
    color: $colorLink;
    align-items: center;

    img {
      padding-left: 5px;
      padding-bottom: 3px;
    }
  }
}

.product__btn {
  border: 1px solid $colorText;
  padding: 15px 56px;
  display: flex;
  gap: 10px;
  align-items: center;
  transition: color 0.1s, background-color 0.1s, box-shadow 0.1s 0.1s;

  & h4 {
    color: $colorText;
    @include style2(16px, 400);
    opacity: 1;
  }
}

.product__btn:hover {
  opacity: 0.6;
  box-shadow: 1px 1px 10px $colorText;
}

.breadcrumbs > a:not(:last-child)::after {
  content: " /";
}
