.header {
  background-color: #222;
}
.header__top-row {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 20px;
}
.header__top-row .logo {
  display: flex;
  gap: 30px;
}
.header_menu {
  display: flex;
  gap: 30px;
  padding-top: 5px;
}

.title {
  background-color: #F1E4E6;
}
.title .header__but-row {
  display: flex;
  align-items: center;
}
.title .header__but-row .img_men {
  position: relative;
  right: 20%;
}
.title .header__but-row .text_menu {
  display: flex;
  position: relative;
  right: 10%;
  display: flex;
}
.title .header__but-row .text_menu .h1_menu {
  padding-left: 10px;
}
.title .header__but-row .text_menu .span1 {
  font-size: 48px;
  font-weight: 900;
}
.title .header__but-row .text_menu .span2 {
  font-size: 32px;
  font-weight: 700;
  color: #F16D7F;
}

.product__menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  gap: 30px;
  padding-top: 60px;
  padding-bottom: 90px;
  padding-left: 10px;
  padding-right: 10px;
}
.product__menu .product_menu_big {
  grid-column: span 3;
}
.product__menu a:hover img {
  opacity: 0.9;
  transform: scale(1.05);
}

.cards {
  text-align: center;
}
.cards .cards_text h1 {
  color: #222;
  font-size: 30px;
}
.cards .cards_text p {
  color: #9F9F9F;
  font-size: 14px;
  padding: 0 10px;
}
.cards .products__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 48px 0px;
}
.cards .products__cards .prod__card {
  background-color: #F8F8F8;
  position: relative;
}
.cards .products__cards .prod__card .prod__card-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 24px 16px;
}
.cards .products__cards .prod__card .prod__card-row .products_h1 {
  font-size: 13px;
  font-weight: 400;
}
.cards .products__cards .prod__card .prod__card-row .products_p {
  color: #5D5D5D;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
}
.cards .products__cards .prod__card .prod__card-row .cash_product {
  color: #F16D7F;
  font-size: 16px;
  font-weight: 400;
}
.cards .products__cards .prod__card .info {
  position: absolute;
  left: 35%;
  bottom: 65%;
  overflow: hidden;
  border: 2px solid;
  width: 100px;
  height: 30px;
  align-items: center;
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px 0 10px;
  color: rgb(109, 106, 106);
  font-size: 14px;
  font-weight: 700;
  opacity: 0;
}
.cards .products__cards .prod__card:hover .info {
  opacity: 1;
}
.cards .products__cards .prod__card-img:hover {
  opacity: 0.4;
}
.cards .products__cards .prod__card .prod__card-img:hover button {
  position: absolute;
  display: block;
  z-index: 9999;
}

.button_product {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  text-align: center;
}

.a__btn {
  border: solid;
  color: #FF6A6A;
  background-color: white;
  padding: 15px 39px;
}

.a__btn {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  border: solid;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  color: #FF6A6A;
  background-color: white;
  padding: 15px 39px;
}

.a__btn span {
  position: relative;
  z-index: 2;
}

.a__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #FF6A6A;
  transition: all 0.35s;
}

.a__btn:hover {
  color: #fff;
}

.a__btn:hover:after {
  width: 100%;
}

.discounts {
  background-color: #222224;
}
.discounts__menu {
  padding: 103px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.discounts__menu-ls {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  color: #FBFBFB;
}
.discounts__menu-ls h2 {
  font-size: 20px;
  font-weight: 400;
}
.discounts__menu-ls p {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  padding: 0 20px;
}

.subscribe {
  background: url(../img/fon.png) no-repeat;
  max-height: 100%;
  background-size: cover;
  background-position: 100% 100%;
  background-blend-mode: screen;
  background-color: rgba(255, 255, 255, 0.5);
  height: 448px;
}
.subscribe__menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  align-items: end;
  justify-items: center;
  text-align: center;
}
.subscribe__menu .subscribe__comment p {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #010000;
}
.subscribe__menu .subscribe__comment p span {
  font-size: 20px;
  font-style: italic;
}
.subscribe__menu .subscribe__comment {
  padding: 97px 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  align-items: center;
  width: 360px;
}
.subscribe__menu .subscribe__email {
  padding: 97px 0;
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
}
.subscribe__menu .subscribe__email .form {
  display: flex;
  justify-content: center;
}
.subscribe__menu .subscribe__email .form input {
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}
.subscribe__menu .subscribe__email .form button {
  background: #E05C6E;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  color: white;
  border-left: none;
  font-size: 14px;
  font-family: sans-serif;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  height: 49px;
  width: 100px;
}
.subscribe__menu .subscribe__email .form__btn:hover {
  box-shadow: 0 0 10px 0 rgb(231, 105, 147) inset, 0 0 10px 4px rgb(212, 111, 120);
}
.subscribe__menu .subscribe__email h1 {
  color: #222224;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 167.2%;
}
.subscribe__menu .subscribe__email span {
  color: #222224;
  font-size: 18px;
  font-weight: 400;
  line-height: 167.2%;
}

.footer {
  background-color: #222224;
}

.footer__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-signature {
  display: inline-block;
  padding: 30px 10px;
}

.footer-signature p {
  color: #FBFBFB;
  font-size: 16px;
}

.icon:hover {
  cursor: pointer;
  width: 35px;
  height: 35px;
  box-shadow: 0 0 10px 0 rgb(231, 105, 147) inset, 0 0 10px 4px rgb(212, 111, 120);
}

.top-head {
  background: #F8F3F4;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-head__heading {
  color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.top-head .breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.top-head .breadcrumbs__link-big {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.product__img {
  position: relative;
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 42px;
}
.product__img img {
  width: auto;
}

.product__card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 600px;
}
.product__card-big {
  border: 1px solid #ece9e9;
  position: absolute;
  left: 10%;
  right: 10%;
  top: -65px;
  z-index: 8;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0 64px;
}
.product__card-big h2 {
  color: #F16D7F;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 15px;
}
.product__card-big h1 {
  color: #4D4D4D;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 48px;
}
.product__card-big p {
  width: 565px;
  color: #5E5E5E;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 32px;
}
.product__card-big .price__card {
  font-size: 24px;
}

.create__line {
  width: 63px;
  border-top: 2px solid #F16D7F;
  margin-bottom: 12px;
}

.create__line-second {
  width: 641px;
  border-top: 2px solid #EAEAEA;
  margin: 65px 0;
}

.product__card-link {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 48px;
}
.product__card-link a {
  color: #6F6E6E;
  align-items: center;
}
.product__card-link a img {
  padding-left: 5px;
  padding-bottom: 3px;
}

.product__btn {
  border: 1px solid #F16D7F;
  padding: 15px 56px;
  display: flex;
  gap: 10px;
  align-items: center;
}
.product__btn h4 {
  color: #F16D7F;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  font-family: lato;
  font-style: normal;
  line-height: normal;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  .product__menu {
    gap: 10px;
  }
  .products__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
  }
  .header__but {
    max-width: 767px;
  }
  .text_menu {
    max-height: 368px;
    max-width: 100%;
  }
  .discounts__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 104px;
  }
  .subscribe {
    background-size: cover;
    height: 640px;
  }
  .subscribe__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subscribe__comment {
    padding: 60px 0 0 0;
  }
  .subscribe__email {
    padding: 0 0 0 20px;
  }
  .subscribe__email h1 {
    line-height: 1;
  }
}
@media (max-width: 458px) {
  .img_men {
    display: none;
  }
  .header__but-row {
    min-height: 363px;
  }
  .header__but {
    display: flex;
    align-items: center;
  }
  .text_menu {
    right: 0;
  }
  .product__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
  .product_menu_big img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 111px;
    width: 360px;
  }
  .products__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 8px;
    padding-right: 8px;
  }
  .prod__card img {
    width: 100%;
  }
  .discounts__menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 13px;
  }
  .subscribe__comment p {
    font-size: 18px;
  }
  .subscribe__email span {
    font-size: 14px;
  }
  .footer__menu {
    flex-direction: column-reverse;
    padding-top: 30px;
  }
}/*# sourceMappingURL=stylescss.css.map */