* {
    padding: 0px;
    margin: 0px;
    border: none;
}

body {
    font-family: lato;
    font-style: normal;
    line-height: normal;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    background-color: #222;
}

.header__top-row {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 20px;
}

.logo {
    display: flex;
    gap: 30px;
}

.header_menu {
    display: flex;
    gap: 30px;
    padding-top: 5px;
}

.title {
    background-color: #F1E4E6;
}

.header__but-row {

    display: flex;

    align-items: center;


}

.img_men {
    position: relative;
    right: 20%;
}

.text_menu {
    /*   position: absolute;
    right: 25%; */
    display: flex;
}

.span1 {
    font-size: 48px;
    font-weight: 900;
}

.span2 {
    font-size: 32px;
    font-weight: 700;
    color: #F16D7F;
}

.h1_menu {
    padding-left: 10px;

}

.product__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    gap: 30px;
    padding-top: 60px;
    padding-bottom: 90px;
    padding-left: 10px;
    padding-right: 10px;
}

.product_menu_big {
    grid-column: span 3;
}

.cards {
    text-align: center;
}

.products__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 48px 0px;


}

.prod__card {
    background-color: #F8F8F8;

}

.prod__card-row {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 24px 16px;
}

.products_h1 {
    font-size: 13px;
    font-weight: 400;
}

.products_p {
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
}

.cash_product {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
}

.button_product {
    padding-bottom: 40px;
    text-align: center;
}

.button {
    border: solid;
    color: #FF6A6A;
    background-color: white;
    padding: 15px 39px;
}

img {
    max-width: 100%;
}

@media (max-width: 768px) {

    .container {
        max-width: 100%;
    }

    .product__menu {
        gap: 10px;
    }

    .products__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 14px;
    }

    .header__but {
        max-width: 767px;
    }
}