* {
    margin: 0;
    padding: 0;
}

body {
    width: 1600px;
    margin: auto;
}

.header {
    background-color: #222222;
    height: inherit;
    width: 100%;
    max-width: 1600px;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    gap: 30px;
    margin-left: 15%;
}

.header_menu {
    display: flex;
    gap: 30px;
    margin-right: 10%;
}

.menu {
    width: 100%;
    height: 764px;
    max-width: 1600px;
    background: #F1E4E6;
    display: flex;
    gap: 50px;
}

.img_men {
    width: 800.58px;
    height: 764px;
    margin-left: 4%;
}

.text_menu {
    display: flex;
    align-items: center;
    gap: 10px;

}

.span1 {
    font-family: lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 38px;
}

.span2 {
    color: #F16D7F;
}

.product {
    display: grid;
    width: 100%;
    max-width: 750px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 65px 230px;
    align-items: center;

}

.product_menu_big {
    grid-column: 1 / 4;

}

.product_menu img {
    width: 360px;
}

.products_cards {
    max-width: 750px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 581px);
    margin: 65px 230px;
    grid-gap: 30px;


}

.cards {
    height: 100%;
}

.cards_text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards_text h1 {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cards_text p {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.prod_card {
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 581px;
}

.products_h1 {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 15px;


}

.products_p {
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 15px;
    margin-right: 30px;
}

.cash_product {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 15px;
    padding-bottom: 15px;
}

.button_product {
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

.button {
    background-color: white;
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 212px;
    height: 48px;
    border: solid;

}